@media(max-width: 576px){
.col-md-8{padding-top: 0;}
}

body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

/* .container {
  position: absolute;
  margin: 20px;
  width: auto;
} */
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.background-image {
  background: url('../Pictures/newyork.jpg');
  min-height: 380px;
  /* opacity: 0.7; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.mainQuotation{
    padding: 30px 10px 10px 10px;
}
/* about me container */
.about-me{
  background-color: #f8f1f1;
  padding: 40px;
  font-size: 14px;
}
.my-picture{
  text-align: center;
  padding: 10px 0 20px 0;
}
/* middle container; education and careers */
.education {
  padding: 40px ;
  background-color: #f7f6e7;
}
.careers{
  padding: 40px;
  background-color: #f8f1f1;
}
.text{
  padding: 20px;
  font-size: 12px;
}
.title{
  text-align: center;
  padding-bottom: 15px;
}
.boldtext{
  font-weight: bold;
}

/* contact container */
.contact_info {
  color: #708090;
    background-color: #98acf8;
  text-align: center;
}

#Contact {
  padding: 5% 10%;
}
.contact-padding{
  padding: 30px 10px 0 10px;
}
.contact_icon {
  color: #b088f9;
}

.contact_icon:hover {
  color: #da9ff9;
}
