


/* Styles pertaining the whole page */
body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; background-color: #f4f4f4;
  /* font-family: 'Open Sans', sans-serif; */
}
.centerTitle{
  padding: 20px 70px;
  text-align: center;
}
.mainQuotation{
    padding: 20px 10px 10px 10px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
  }

.text{
  padding: 20px;
  font-size: 12px;
}
.boldtext{
  font-weight: bold;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.borderLine{
  border-style: none; border-top-style: solid; border-width: 3px; border-color: #eee;
  margin: 0 80px;
}
.containerBorder{
  padding: 0 150px;
}

.pinkishColor{
  background-color: #f8f1f1;
}
.lightColor {
  background-color: #f4f4f4;
}

/* about me container */
.background-image {
  background: url('../Pictures/newyork.jpg');
  min-height: 380px;
  /* opacity: 0.7; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about-me{
  font-size: 14px;
}
.my-picture{
  text-align: center;
  padding: 10px 0 20px 0;
}

/* middle container; education and careers */
.paragraf{
  padding-top: 15px;
}

/* skills container */


/* contact container */
.contact_info {
  color: #708090;
    background-color: #98acf8;
  text-align: center;
}

.contact_info {
  padding: 5% 10%;
}
.contact-padding{
  padding: 30px 10px 0 10px;
}
.contact_icon {
  color: #b088f9;
}

.contact_icon:hover {
  color: #da9ff9;
}

/* on a small screen */
@media(max-width: 576px){
body {text-align: center;}
}
@media (max-width: 576px){
  .containerBorder  {
    padding: 0 50px;
  }
}
